body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.cards {
    box-sizing: border-box;/* но border-box + min/max-width = глюки в разных браузерах */
    width: 90%;
    max-width: 1280px;
    min-width: 1060px;
    height: 800px;
    margin: 60px auto;
    background: #f6f2de;
    padding: 20px 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.cards:hover {
    background: #e9e6d3;
}

.cards-holder {
    position: relative;
    counter-reset: cards;
}

.cards.cards-disable-hover {
    background: #f6f2de;
}

.card {
    background: #fff;
    display: block;
    height: 760px;
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
}

.card:first-child {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
            box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card:before {
    counter-increment: cards;
    content: counter(cards);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    width: 50px;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    border: 2px solid;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
            border-radius: 50%;
}

.card-wide.card-first, .card:only-child.card-wide {
    width: 100%;
    max-width: 960px;
}

.card-first {
    left: 40px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
            box-shadow: 0 0 8px rgba(0,0,0,0.2);
}















